SECRET_KEY=your-secret-key-here
JWT_SECRET_KEY=your-jwt-secret-here
MONGO_URI=MONGO_URI=mongodb+srv://adityashukla1870:GHH683MehNHPN@cluster0.gvkakaf.mongodb.net/campus_clash?retryWrites=true&w=majority&appName=Cluster0
