SECRET_KEY=campusclashsecret
JWT_SECRET_KEY=superjwtsecret
MONGO_URI=mongodb+srv://adityashukla1870:GHH683MehNHPN@cluster0.gvkakaf.mongodb.net/campus_clash?retryWrites=true&w=majority&appName=Cluster0
RESEND_API_KEY=re_your_resend_api_key
FRONTEND_URL= http://localhost:5173/
